<a class="articlePreview" href="{{var(outputPath)}}">
	<div class="imageCrop">
		<img class="previewImage" src="{{var(outputImage)}}">
	</div>
	<span class="previewTitle">
		<span>{{var(title)}}</span>
		<span class="date">{{var(date)}}</span>
	</span>
</a>